{% extends "../apresentacao.jinja2" %}

{% block titulo_slide %} Integração Continua  {% endblock %}

{%block conteudo %}
<center>
<h1 style="color:green">FIM!</h1>
</center>
{% endblock %}


{% block proxima_pagina %}
fim
{% endblock %}

{% block pagina_anterior %}
slide10
{% endblock %}