{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} Integração Continua  {% endblock %}

{%block conteudo %}
<ul>
	<li>Jenkins!</li>
</ul>

{% endblock %}

{% block proxima_pagina %}
slide10
{% endblock %}

{% block pagina_anterior %}
slide8
{% endblock %}