{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} Testes e Qualidade do Código  {% endblock %}

{%block conteudo %}
<ul>
	<li>unittest</li>
	<li>nosetests</li>	
	<li>unittest</li>
	<li>pyflakes</li>
	<li>coverage</li>
</ul>

{% endblock %}

{% block proxima_pagina %}
slide9
{% endblock %}

{% block pagina_anterior %}
slide7
{% endblock %}