{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} Demonstração  {% endblock %}

{%block conteudo %}
	<div style="text-align:center">
	<a href="index_cliente">PPJ - Python </a>
	</div>

{% endblock %}

{% block proxima_pagina %}
slide8
{% endblock %}

{% block pagina_anterior %}
slide6
{% endblock %}