{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} Demonstração  {% endblock %}

{%block conteudo %}
	<div style="text-align:center">
	<a href="index_cliente">PPJ - Python </a>
	</div>
	<center>
		<img src="{{request.static_url('ppj:static/img/tests_everywhere.jpg')}}" />
	</center>
{% endblock %}

{% block proxima_pagina %}
slide8
{% endblock %}

{% block pagina_anterior %}
slide6
{% endblock %}