{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} As Ferramentas - E o Plone/Zope? {% endblock %}

{%block conteudo %}
	
	<p style="width :60%;; margin-left:20%">O Plone/Zope é uma (excelente) solução <span style="font-weight: bold;"> CMS!</span> - Content Management System <br /> <br />
	Ele permite que pessoas leigas em programação possam publicar, atualizar e manter conteúdos em uma intranet, por exemplo.
	Enquanto que para o programador possui uma curva de aprendizado um pouco mais longa por possuir muitos modulos, várias camadas de complexidades e abstrações. <br />
	Soluções para sistemas corporativos podem ser resolvidas de forma muito mais simples e rápida utilizando outras soluções python, como os frameworks citados no slide anterior.
	</p>


{% endblock %}

{% block proxima_pagina %}
slide7
{% endblock %}

{% block pagina_anterior %}
slide5
{% endblock %}