{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %}Introdução {% endblock %}

{%block conteudo %}  	
	  	<ul >
	  		<li> A Linguagem </li>
	  		<li> As Ferramentas </li>
	  		<li> Uma Demonstração </li>
	  		<li> Testes e Qualidade do Código </li>
	  		<li> Integração Continua </li>
	  	</ul>

{% endblock %}

{% block proxima_pagina %}
slide2
{% endblock %}

{% block pagina_anterior %}
/
{% endblock %}
