{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} A Linguagem: Caracteristicas {% endblock %}

{%block conteudo %}  	
	  	<ul>
	  		<li> Multiplataforma (roda em linux, windows, Mac, Celulares..) </li>
	  		<li> Tipagem Dinamica e Forte </li>
	  		<li> Programação Orientada a Objeto e Funcional </li>
	  		<li> Cercada por tecnologias open source </li>
	  		<li> A legibilidade conta - sintaxe clara </li>
	  		<li> Produtividade - Solução elegante com poucas linhas de código </li>
	  		<li> É fácil! Tem baixa curva de aprendizado - É utilizada para o ensino de programação para crianças.  </li>     
	  	</ul>

{% endblock %}

{% block proxima_pagina %}
slide3
{% endblock %}

{% block pagina_anterior %}
slide1
{% endblock %}