{% extends "../apresentacao.jinja2" %}
{% block titulo_slide %} A Linguagem: Quem Usa? {% endblock %}

{%block conteudo %}  	
<p style="text-align:center">
Além do Google em várias de suas ferramentas, sem contar o youtube, temos também várias empresas 
<a href="http://wiki.python.org.br/EmpresasPython"> no Brasil </a> ...
<a href="https://wiki.python.org/moin/OrganizationsUsingPython"> e no mundo. </a>
</p>
{% endblock %}

{% block proxima_pagina %}
slide5
{% endblock %}

{% block pagina_anterior %}
slide3
{% endblock %}