{% extends "base.jinja2" %}

{% block titulo_painel %}
  Consulta Dependentes
{% endblock %}

{% block conteudo_painel %}
	
	  <fieldset>
	    {% include "formulario_dependente.jinja2" %}
      </fieldset>
	  <div class="btn_controle">            
            <input id="procurar_dependentes"  type="button" value="Procurar" />
            <input id="limpar" type="button" value="Limpar" />
       </div>

       <div id="result" class="area_resultado">
      </div>       
{% endblock %}