
          <label>Nome: </label> <input id="nome_cliente" name="nome_cliente" type="text" /> 
          <label>Data de Nascimento:</label> <input id="data_nascimento_cliente"  name="data_nascimento_cliente" type="text"  />
          <br />
          <label>Sexo: </label> <input id="sexo_cliente" name="sexo_cliente" type="text" /> 
          <label>Estado Civil: </label> <input id="estado_civil_cliente" name="estado_civil_cliente" type="text"  /> 
          <br />

   