 <div id="painel_dependente" class="dependente">
 <label>Nome do Dependente: </label> <input  class="nome_dependente" name="nome_dependente" type="text" /> 
 <label>Sexo do Dependente: </label> <input class="sexo_dependente" name="sexo_dependente" type="text" /> 
 <div>
 <hr />